body{
    background-image: url(https://i.gifer.com/origin/67/67e19f11511b8acfc5c47300d433bacc_w200.webp);
    text-align: center;
    background-size: cover;
    background-repeat:no-repeat ;
}
h1{

    color: #e5dede;
}
p{
    color: rgb(10, 1, 1);
    font-family: 'Courier New', Courier, monospace;
}
.lee-picture{
    width: 200px;
    border: 5px solid #ff00ff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.lee-picture:hover{
    transform: rotate(10deg);
    border-color: rgb(20, 41, 232);
    box-shadow: 0px 0px 10px 2px #0808e4;
}
.game-over-message{
    font-size: 24px;
    color: rgb(66, 5, 5);
    font-weight: bold;
    margin-top: 20px;
}
#end{
    font-size: 50px;
    color: rgb(244, 11, 11);
    text-shadow: #008080;
}